<h1><%= @user.username %></h1>
<% if  @user.admin?  %>
    <span class="label label-info">admin</span>
<% end %>
<% if  @user.blocked?  %>
    <span class="label label-danger">Account frozen</span>
<% end %>
<p>
  <% if @user.ratings.empty? %>
      <%= @user.username %> hasn't rated anything yet.
  <% else %>
      Has <%= @user.ratings.count %> <%= "rating".pluralize(@user.ratings.count) %>, average <%= @user.average_rating %>. Their favourite style is <%= @user.favorite_style.name if @user.favorite_style %>
  <% end %>
</p>
<p> Favorite beer: <%= @user.favorite_beer if @user.favorite_beer %> </p>
<p> Favorite brewery: <%= @user.favorite_brewery.name if @user.favorite_brewery %> </p>
<p> Favorite style: <%= @user.favorite_style.name if @user.favorite_style %> </p>


<h2>Ratings</h2>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: {confirm: 'Are you sure?'} %>
        <% end %>
      </li>
  <% end %>
</ul>

<p>
  <strong>Memberships:</strong>
  <% @user.confirmed_memberships.each do |membership| %>
      <%= membership.beer_club.name %>
  <% end %>
</p>
<p>
  <strong>Memberships:</strong>
  <% @user.unconfirmed_memberships.each do |membership| %>
      <%= membership.beer_club.name %>
  <% end %>
</p>


<% if @user == current_user %>
    <%= edit_and_destroy_buttons(@user) %>
<% end %>
<%= link_to 'Freeze account', freeze_user_path(@user), method: :post, class: 'btn btn-danger btn-sm' if current_user.admin? and not @user.blocked? %>
<%= link_to 'Unfreeze account', freeze_user_path(@user), method: :post, class: 'btn btn-success btn-sm' if current_user.admin? and @user.blocked? %>

<%= link_to 'Back', users_path %>
